.background-image {
  background-image: url("https://tinyurl.com/4pcdc8av");
  background-repeat: repeat;
  background-size: cover;
}

html {
  background: url(https://tinyurl.com/2ssudnmb) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: calc(55% - 16px);
  margin: 0 auto;

}

.form-container input {
  background-color: #2b7ca1;
}

.form-group {
  display: block;
  margin-bottom: 10px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
}
